.formstyle
{
    background-color: cadetblue;
    // background-color: black;
    min-height: 500px;
    width: 400px;
    margin: 10px auto;
    border-radius: 5px;

    input{
        //    background-color: mediumturquoise;
           background-color: #101820FF;
           border: 0;
           width: 200px;
           height:50px;
           padding: 0 10px;
           margin: 20px;
           font-size: 18px;
           border-radius: 10px;
           color:white;
    }
    input:focus,button:focus
    {
        outline: none;
    }

    button
    {
        height: 45px;
        width: 102px;
        border: 0;
        border-radius: 18px;
        cursor: pointer;
        font-weight: bolder;
        background-color: #195190FF;
        font-size: 16px;
        color: white;
    }
}
