.Liststyle
{
    color: white;
    // background-color: #bf07ac;
    background-color: #FEE715FF;
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin: 15px auto;
    border-radius: 5px;
    padding: 3px;

    p{
        // padding: 10px;
        position: relative;
    }
    .icon{
       position: absolute;
       right: 10px;
       cursor: pointer;
       padding: 10px;
       color: red;
       
    }
    .ipvalue
    {
        background-color: transparent;
        font-size: 18px;
        padding: 5px;
        // color: white;
        color: black;
        height: 30px;
        margin: 5px;
    }
    .svg-inline--fa {
        display: inline-block;
        font-size: 18px;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }
}
.heading{
    margin: auto;
    text-align: center;
    padding:0;
}