.App {
  text-align: center;
}

body{
	// background-image: url('cloud.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
	 
	.App {
	text-align: center;
	}
	 
	.svg-inline--fa
	{
	font-size: 80px;
	}